<!DOCTYPE html>
<html class="" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="generator" content="Pagekit">
        <link rel="canonical" href="https://jainism.tech">

        <meta name="theme-color" content="#24304E">
        <meta name="msapplication-navbutton-color" content="#24304E">
        <meta name="apple-mobile-web-app-status-bar-style" content="#24304E">

        <meta property="twitter:card" content="img/logo.png">
        <meta property="og:site_name" content="Jainism Tech - Technological Enhancement in Swadhyay">
        <meta property="og:title" content="Jainism Tech - Technological Enhancement in Swadhyay">
        <meta property="og:url" content="https://jainism.tech">
        <meta name="msapplication-TileImage" content="img/logo.png" />
        <link href="img/logo.png" rel="shortcut icon" type="image/x-icon">
        <link href="img/logo.png" rel="apple-touch-icon-precomposed">
        <title>Jainism Tech - Technological Enhancement in Swadhyay</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

        <link href="css/index.css" rel="stylesheet">        
        <link href="css/button.css" rel="stylesheet">
        <link href="css/loader.css" rel="stylesheet">
        <link href="css/modal.css" rel="stylesheet">

        <script src="js/index.js"></script>        

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72808093-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-72808093-13');
        </script>

    </head>
    <body>

        <!-- three dot loader -->
        <div class="loader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        <!-- modal box popup -->
        <div class="modalCover">
            <div class="modalBox">
                <div class="modalTop"></div>
                <div class="modalPadding">
                    <div class="modalText"></div>
                    <div class="modalBtn" onclick="$('.modalCover').hide()">DISMISS</div>
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}
        
    </body>
</html>
