{% extends "templates/index.njk" %}
{% block content %}
    
    <link href="css/format.css" rel="stylesheet">

    <div>
        <textarea type="text" placeholder="Your shastra text goes here..." onkeyup="textAreaAdjust()"></textarea>
    </div>
    <div class="floatBtn" onclick="PostData()">Convert to JSON</div>

    <script src="js/format.js"></script>    

{% endblock %}