{% extends "templates/index.njk" %}
{% block content %}
    
    <link href="css/format.css" rel="stylesheet">

    <div class="pageCover">
        <div class="topOption">
            <div class="option"><input class="verseText" type="button" value="Verse"></div>
            <div class="option"><input class="boldText" type="button" value="Bold"></div>
            <div class="option"><input class="titleText" type="button" value="Title"></div>
            <div class="option"><input class="centerText" type="button" value="Center"></div>
            <div class="optRight">
                <div class="option"><input class="saveText" type="button" value="Save"></div>
            </div>
        </div>

        <div>
            <textarea type="text" placeholder="Your shastra text goes here...">{{content}}</textarea>
        </div>
    </div>

    <script src="js/format.js"></script>    

{% endblock %}