
<!DOCTYPE html>
<html class="" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content="Pagekit">
        <link rel="canonical" href="https://jainism.tech">

        <!-- browser color change -->
        <meta name="theme-color" content="#24304E">
        <meta name="msapplication-navbutton-color" content="#24304E">
        <meta name="apple-mobile-web-app-status-bar-style" content="#24304E">

        <link href="css/home.css" rel="stylesheet">  

        <meta property="twitter:card" content="img/logo.png">
        <meta property="og:site_name" content="Jainism Tech - Technological Enhancement in Swadhyay">
        <meta property="og:title" content="Jainism Tech - Technological Enhancement in Swadhyay">
        <meta property="og:url" content="https://jainism.tech">
        <meta name="msapplication-TileImage" content="img/logo.png" />
        <link href="img/logo.png" rel="shortcut icon" type="image/x-icon">
        <link href="img/logo.png" rel="apple-touch-icon-precomposed">
        <title>Jainism Tech - Technological Enhancement in Swadhyay</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72808093-8"></script>
        <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    </head>
    <body>

        <div class="mulCover">
            <div class="homeHead">jainism(dot)tech</div>
            <div class="introPara">Jainism(dot)tech is an attempt to revolutionize the way we do digital swadhyay. We are determined to build a comprehensive database of Jain scriptures in web format (not PDF) and deliver the content responsively on your browser (<a href="/s/mmp/4" class="blackHref" target="_blank">check our prototype web app</a>). For any questions, suggestions or want to contribute, shoot an email to <a href="mailto:hey@sowmayjain.com" class="blackHref">hey@sowmayjain.com</a></div>
            <div class="pitchMaxDiv">
                <a href="https://medium.com/jintech/swadhyay-e20db250ed99" class="pitchHref" target="_blank"><div class="pitchdiv">INITIAL PITCH</div></a>
            </div>
        </div>

        <script src="js/index.js"></script>
        
    </body>
</html>