{% extends "templates/index.njk" %}
{% block content %}
    
    <link href="css/home.css" rel="stylesheet">
    <div class="mulCover">
        <div class="homeHead">jainism(dot)tech</div>
        <div class="introPara">Jainism(dot)tech is an attempt to revolutionize the way we do digital swadhyay. We are determined to build a comprehensive database of Jain scriptures in web format (not PDF) and deliver the content responsively on your browser (<a href="/s/mmp/4" class="blackHref" target="_blank">check our prototype web app</a>). For any questions, suggestions or want to contribute, shoot an email to <a href="mailto:hey@sowmayjain.com" class="blackHref">hey@sowmayjain.com</a></div>
        <div class="pitchMaxDiv">
            <a href="https://medium.com/jintech/swadhyay-e20db250ed99" class="pitchHref" target="_blank"><div class="pitchdiv">INITIAL PITCH</div></a>
        </div>
    </div>

{% endblock %}