{% extends "templates/index.njk" %}
{% block content %}
    
    <link href="css/scripture.css" rel="stylesheet">

    <div class="thCover">
        <div class="topHead">
            <a href="/" class="noline whiteHref">jainism(dot)tech</a>
            <div class="topRight">{{name}}</div>
        </div>
    </div>
    <div class="subMenu">{{chapterTitle}}</div>

    <div class="scriptureCover">
        <div class="authorClass center">रचियता - {{author}}</div>
        <div class="pageTitle">{{chapterTitle}}</div>
        {% for content in contentArr %}
            <div class="para">{{content}}</div>
        {% endfor %}
    </div>

    <div class="footList">
        <div class="footNav"><a href="/" class="blackHref noline">Home</a></div>
        <div class="footNav"><a href="" class="blackHref noline">Contact</a></div>
        <div class="footNav"><a href="" class="blackHref noline">Telegram</a></div>
    </div>


    <div class="iconDiv">
        <img src="img/uniqueLink.png" onclick="shareLink()" class="floatIconImage">
        <!-- <div class="partDesign"></div> -->
    </div>

    <!-- modal box popup -->
    <div class="copyModel">
        <div class="modalBox">
            <div class="copyBoxTop">Unique Link Created</div>
            <div class="modalPadding">
                <div class="copyBoxText linkText"></div>
                <div class="copyBoxBtn" onclick="copyLinkToClip()">COPY LINK</div>
                <div class="copyBoxBtn shareModalBtn" onclick="navShare()" hidden>SHARE</div>
            </div>
        </div>
    </div>

    <span class="sharedText" hidden>{{yellowedText}}</span>
    <span class="scriptureCode" hidden>{{scriptureCode}}</span>
    <span class="scriptureSlug" hidden>{{scriptureSlug}}</span>
    <span class="pageID" hidden>{{pageID}}</span>
    <span class="proofread" hidden>{{proofread}}</span>

    <script src="js/scripture.js"></script>

{% endblock %}