{% extends "templates/index.njk" %}
{% block content %}
    
    <link href="css/shastra3.css" rel="stylesheet">

    <div class="proofError" hidden>This page has not been proofread. Read at your own risk.</div>

    <div class="topHead">{{metaData.name}} - {{pageData.title}}</div>
    <div class="shastraCover">
        <div class="authorClass center">रचियता - {{metaData.author}}</div>
        <div class="pageTitle">{{pageData.title}}</div>
        {% for x in shastraJSON %}
            <div class="{{x.class}}">{{x.text}}</div>
        {% endfor %}
        <!-- <div class="notePara">Jainism(dot)tech is an attempt to revolutionize the way we do digital swadhyay. We are determined to build a comprehensive database of Jain scriptures in web format (not PDF) and deliver the content responsively on your browser. For any questions, suggestions or want to contribute, join our <a href="https://t.me/joinchat/GhdN1g8S4KNTRHRvqyXkBA" target="_blank">telegram group</a>.</div> -->
    </div>

    <div class="linkedBtn">
        <a href="https://t.me/joinchat/GhdN1g8S4KNTRHRvqyXkBA" target="_blank" class="normalBtn noline">Telegram</a>
    </div>

    <div class="iconSect" hidden>
        <div class="iconDiv">
            <i class="material-icons md-28 onSelIcon" onclick="shareLink()">share</i>
            <div class="partDesign"></div>
            <i class="material-icons md-28 onSelIcon" onclick="copyText()">file_copy</i>
        </div>
    </div>

    <!-- modal box popup -->
    <div class="copyModel">
        <div class="modalBox">
            <div class="modalTop">Unique Link Created</div>
            <div class="modalPadding">
                <div class="modalText linkText"></div>
                <div class="modalBtn" onclick="copyToClip()">COPY LINK</div>
            </div>
        </div>
    </div>

    <span class="SharedText" id="{{shareID}}" hidden>{{yellowedText}}</span>
    <span class="shastraID" hidden>{{shastraID}}</span>
    <span class="pageID" hidden>{{pageID}}</span>
    <span class="proofread" hidden>{{pageData.proofread}}</span>

    <script src="js/shastra3.js"></script>

{% endblock %}