@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800);

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    letter-spacing: -1px;
}

.blackHref {
    color: black;
}

.mulCover {
    max-width: 700px;
    margin: auto;
    margin-top: 150px;
}

.homeHead {
    font-size: 55px;
    text-align: center;
    font-weight: bold;
}

.introPara {
    font-size: 20px;
    margin: 60px auto;
    text-align: center;
}

.pitchdiv {
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 22px;
    border-radius: 4px;
    margin: auto;
    width: 160px;
    text-align: center;
    border: 3px solid black;
}

.pitchdiv:hover {
    background-color: black;
    color: white;
}

.pitchHref {
    text-decoration: none;
    color: inherit;
}

.pitchMaxDiv {
    width: max-content;
    margin: auto;
}

@media screen and (max-width: 400px) {
    
    .homeHead {
        font-size: 38px;
    }

    .introPara {
        font-size: 16px;
        padding: 10px;
        margin: 30px auto;
    }

    .pitchdiv {
        padding: 7px 15px;
        font-weight: bold;
        font-size: 16px;
        width: 120px;
    }

}