@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600);

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.noline {
    text-decoration: none;
}

.blackHref {
    color: #323232;
}

.whiteHref {
    color: white;
}