@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600);

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #EDEDED;
}

.noline {
    text-decoration: none;
}